.ChatBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.infoConnection {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 0.75em;
    opacity: 50%;
}

.infoError {
    display: flex;
    border-radius: 15px;
    font-size: 0.75em;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.75);
    margin: 30px;
    width: 100%;
}

.infoSuccess {
    display: flex;
    border-radius: 15px;
    font-size: 0.75em;
    padding: 15px;
    background-color: rgba(0, 128, 0, 0.75);
    margin: 30px;
    width: 100%;
    text-align: center;
}

.successContainer {
    display: flex;
    position: absolute;
    max-width: 460px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.errorContainer {
    display: flex;
    position: absolute;
    max-width: 460px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sendingButton {
    display: flex;
    background-color: black;
    color: white;
    border: 0px;
    cursor: pointer;
    padding: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.messageInput {
    display: flex;
    background-color: black;
    border: 0px;
    color: white;
    padding: 15px;
    height: 100%;
    width: 100%;
    border-right: 1px solid white;
    align-items: center;
    justify-content: center;
}

.messageInput:active, .messageInput:focus {
    border: 0px;
    outline: none;
    border-right: 1px solid white;
}

.inputAndSendButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: blue;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    min-height: 70px;
}

.render {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple;
    scrollbar-width: 0px;
    text-align: center;
}

.disabled {
    color: grey;
    cursor: not-allowed;
}

#render {
    display: flex;
}

.sectionMessage {
    display: flex;
    width: 100%;
    align-items: center;
}

.sectionDuMessage {
    display: flex;
    flex-direction: column;
}

.youSendIt {
    text-align: end;
    align-items: flex-end;
    width: 100%;
    padding-left: 55%;
    margin: 15px;
}

.youDontSendIt {
    text-align: start;
    align-items: flex-start;
    width: 100%;
    padding-right: 55%;
    margin: 15px;
}

.youSendIt p:first-child {
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    font-size: 0.75em;
}

.youSendIt p:first-child::before {
    height: 15px;
    width: 15px;
    background-color: red;
}

.youDontSendIt p:first-child {
    border: 1px solid #b666db;
    padding: 15px;
    border-radius: 15px;
    font-size: 0.75em;
}

.youDontSendIt p:first-child::after {
    height: 15px;
    width: 15px;
    background-color: red;
}

.paragrapheInfoDate {
    color: gray;
    font-size: 0.65em;
}