.ChatBox {
    display: flex;
    flex-direction: column;
}

.infoConnection {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 0.75em;
    opacity: 50%;
}

.infoError {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 0.75em;
    opacity: 50%;
    color: red;
}

.infoSuccess {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 0.75em;
    opacity: 50%;
    color: lightgreen;
}